*{
        padding: 10px;
        margin: 10px 25px 5px 25px;
        box-sizing: border-box;
}
body{
    background-color: rgba(3, 59, 132, 0.497);

}

header div h1{
    background-color:  rgba(225, 223, 220, 0.91); 
    color:rgba(38, 116, 190, 0.638); 
    border: 2px;

    border-radius: 15px;
    border-color: rgba(44, 107, 215, 0.77);
    text-align: center;
    padding: 3px 5px;

    font-size: 36px;
    letter-spacing: 1px;


    width: 320px;           
    margin: 25px auto;

    box-shadow: -15PX 15PX 50px rgba(56, 189, 248, 0.5);

    position: fixed;
    top: 10px;
    right: 50px;
    left: 50px;
}

.subsections,footer{
    text-align: left;
    letter-spacing: 1px;

    padding: 3px 5px;
    margin: 25px auto;
    border-radius: 15px;

    border: 2px solid rgba(45, 102, 217, 0.08);
    background-color: rgba(240, 244, 247, 0.286);

}

h3 {
    color: rgba(38, 116, 190, 0.638);
    
    /*
    text-decoration-line: underline;             
    text-decoration-style: wavy;                
    text-decoration-color: rgba(38, 116, 190, 0.9); 
    */
}
#uses ul{
    line-height: 2px;
}

select {
    /* Remove default OS styling */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Box styling */
    width: 250px;
    padding: 10px 16px;
    font-size: 16px;
    color: #f1f5f9;
    background-color: #1e293b;
    border: 2px solid #3b82f6;
    border-radius: 8px;
    cursor: pointer;
    outline: none;

}

#items {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
}

.item{
    margin: 10px;
    background-color: #c0d0f818;
    align-items: center;
    justify-content: center;
}

#baggy{
    text-align: center;
    letter-spacing: 1px;

    width: 200px;

    padding: 3px 5px;
    margin: 15px auto 10px auto;

    font-weight: 100PX;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    border-radius: 15px;

    border: 2px solid rgba(45, 102, 217, 0.08);
    background-color: rgba(240, 244, 247, 0.286);

}

#container {
  padding: 10px;
  margin: 20px auto;
  display: flex;
  background-color:none;
  border: none;
  flex-direction: row;
  width: 750px;
  align-items: center;
  justify-content: center;
}

.box {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 100%;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#box1 {
  background-color: #f18741;
}

#box2 {
  background-color: #ffffff;
  border: none;
}

#box3 {
  background-color: #0a5e12;
}

#box2 img {
  width: 120%;
  height: 120%;
  object-fit: cover;
  display: block;
}